<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="frmServisPuantaj.Properties.Settings.Personel_Tracking_SystemConnectionString"
            connectionString="Data Source=ARZU\SQLEXPRESS;Initial Catalog=Personel_Tracking_System;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Personel_Tracking_SystemConnectionString" connectionString="XpoProvider=MSSqlServer;data source=ARZU\SQLEXPRESS;integrated security=SSPI;initial catalog=Personel_Tracking_System" />
        <add name="dokuma_iplik_Connection" connectionString="XpoProvider=MSSqlServer;data source=ARZU\SQLEXPRESS;integrated security=SSPI;initial catalog=Personel_Tracking_System" />
        <add name="dokuma_iplik_vardiya_Connection" connectionString="XpoProvider=MSSqlServer;data source=ARZU\SQLEXPRESS;integrated security=SSPI;initial catalog=Personel_Tracking_System" />
        <add name="dokuma_iplik_vardiyalar_Connection" connectionString="XpoProvider=MSSqlServer;data source=ARZU\SQLEXPRESS;integrated security=SSPI;initial catalog=Personel_Tracking_System" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>